.app-container{
    height: 100%;
    header{
        background-color:   #529b2e;
        color: #fff;
        line-height: 60px;
    }
    .el-container{
        height: calc(100% - 60px);
        .el-aside{
            height: 100%;
            .el-menu{
                height: 100%;
            }
        }
    }
}
.markdown-content{
    *{
        margin:20px 0;
    }
    ul{
        list-style:disc;
        padding-inline-start: 40px;
    }
}
.markdown-anchor{
    color:#40485b;
    padding-left: 15px;
    opacity: .6;
    font-size: 13px;
    .h1,.h2,.h3,.h4,.h5,.h6{
        position: relative;
        margin-top: 15px;
        cursor: pointer;
        display: block;
        &::before{
            content:"";
            position: absolute;
            top:40%;
            left:-15px;
            width: 10px;
            height:10px;
            border-radius: 50%;
            background-color: #40485b;
        }
    }
    .h1 ~ .h2,
    .h2 ~ .h3,
    .h3 ~ .h4,
    .h4 ~ .h5,
    .h5 ~ .h6{
        margin-left: 20px;
    }
    *{

    }
}