.app-container{
    height: 100%;
    header{
        background-color:   #529b2e;
        color: #fff;
        line-height: 60px;
    }
    .el-container{
        height: calc(100% - 60px);
        .el-aside{
            height: 100%;
            .el-menu{
                height: 100%;
            }
        }
    }
}